div{
    background-color: rgb(71, 255, 157);
    padding: 2px;
    margin: 20px;
    border-radius: 10px;
    text-align: left;
    
}
h3{
    background-color: rgb(232, 234, 232);
}
p{
    font-style: italic;
    background-color: white;
    text-align: center;
}